CompileFlags:
	Add:
		- "-std=c++17"
		- "-I"
		- "../build/vcpkg_installed/x64-windows/include"
		- "-I"
		- "../thirdparty/glfw/include"
		- "-I"
		- "../thirdparty/fmod/core/inc"
		- "-I"
		- "../thirdparty/CubismSdkForNative/Framework/src"
		- "-I"
		- "../thirdparty/CubismSdkForNative/Core/include"
		- "-I"
		- "../thirdparty/rocksdb/include"
		- "-D"
		- "FRAMEWORK_SOURCE=OpenGL"
		- "-D"
		- "CSM_TARGET_WIN_GL"
		- "-D"
		- "CPPHTTPLIB_OPENSSL_SUPPORT"
		- "-D"
		- "WIN32_LEAN_AND_MEAN"
		- "-D"
		- "_HAS_STD_BYTE=0"
		- "-D"
		- "NOMINMAX"
		- "-D"
		- "UNICODE"
		- "-D"
		- "_UNICODE"
