CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vs
.vscode 
/scripts 

# Visual Studio文件
*.vcxproj
*.vcxproj.filters
*.sln
*.user

/bin

# 依赖
/inifile
/glew
/glfw
/OpenGLText
/freeglut
/Core
/Framework
thirdParty/glew
thirdParty/glfw
thirdParty/OpenGLText
thirdParty/freeglut
thirdParty/fmod
thirdParty/imgui
thirdParty/WinToast
thirdParty/cpp-httplib
thirdParty/OpenSSL
thirdParty/rapidjson
thirdParty/boost
lib/
*.dir
*.aps

# live2d
*.can3