CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vs
.vscode 
/scripts 

# Visual Studio文件
*.vcxproj
*.vcxproj.filters
*.sln
*.user

/bin

# 依赖
/inifile
/glew
/glfw
/OpenGLText
/freeglut
/Core
/Framework
*.dir
*.aps

# live2d
*.can3

build/
build-scripts/Output